@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts/basier-circle.css';
@import 'fonts/recoleta.css';

body {
  font-family: 'Basier Circle', system-ui, -apple-system, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.gray.900');
  font-family: Recoleta, serif;
  font-weight: bold;
  line-height: theme('lineHeight.tight');
}

h1 {
  font-size: theme('fontSize.6xl');
  margin: theme('margin.3') auto;
}

h2 {
  font-size: theme('fontSize.5xl');
  margin: theme('margin.3') auto;
}

h3 {
  font-size: theme('fontSize.4xl');
  margin: theme('margin.2') auto;
}

h4 {
  font-size: theme('fontSize.3xl');
  margin: theme('margin.2') auto;
}

h5 {
  font-size: theme('fontSize.2xl');
  margin: theme('margin.1') auto;
}

h6 {
  font-size: theme('fontSize.xl');
  margin: theme('margin.1') auto;
}

a {
  color: theme('colors.gray.600');
  text-decoration: underline;
  text-decoration-color: theme('colors.brand');
  transition: 150ms linear color;
}

a:hover {
  color: theme('colors.gray.800');
}

strong {
  font-weight: 600;
}
