@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts/basier-circle.css';
@import 'fonts/recoleta.css';

/* Base Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.gray.900');
  font-family: Recoleta, serif;
  font-weight: bold;
  line-height: theme('lineHeight.none');
}

h1 {
  font-size: theme('fontSize.6xl');
  margin: theme('margin.3') auto;
}

h2 {
  font-size: theme('fontSize.5xl');
  margin: theme('margin.3') auto;
}

h3 {
  font-size: theme('fontSize.4xl');
  margin: theme('margin.2') auto;
}

h4 {
  font-size: theme('fontSize.3xl');
  margin: theme('margin.2') auto;
}

h5 {
  font-size: theme('fontSize.2xl');
  margin: theme('margin.1') auto;
}

h6 {
  font-size: theme('fontSize.xl');
  margin: theme('margin.1') auto;
}

a {
  color: theme('colors.gray.900');
  text-decoration: underline;
  transition: 150ms ease color, 150ms ease text-decoration-color;
}

a:hover {
  color: theme('colors.gray.800');
}

small {
  font-size: inherit;
}

strong {
  font-weight: 600;
}

/* Header */

[data-brand-image] {
  background: url('~@/assets/images/typeoneerror.png') no-repeat 0 0;
  background-position: 0 -16px;
  background-size: 162px 48px;
  height: 16px;
  text-indent: -9999rem;
  transition: 0.2s ease-out all;
  width: 162px;
}

[data-brand-image]:hover {
  background-position: 0 0;
}
